<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title><%= student.name  %> </title>
</head>
<body>
   <h1>Student Details</h1>
   <section>
      <ul>
         <li><h3> Name :<%= student.name %> </h3></li>
         <li><h3> Card No :<%= student.cardNo %> </h3></li>
         <li><h3> Purpose of Study : <a href="/students?purpose=<%= student.purpose %>"><%= student.purpose %></a> </h3></li>
         <li><h3> Field :<%=student.for %> </h3></li>
         <li><h3> Joining Year :<%= student.join %> </h3></li>
         <li><h3> Target Achived :<%= student.achived %> </h3></li>
      </ul>
   </section>
   <br>
   <a href="/students/<%= student._id %>/edit ">Edit Details</a>
   <br>
   <a href="/students"> Students List</a>
   <form action="/students/<%=student._id%>?_method=DELETE " method="POST"> <button>Delete</button> </form>
    
</body>
</html>